*{
    margin:0;
    padding:0;
    
  }
  body{
    background-color: #ddd;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    
  }
  .card{
    height:450px;
    width:300px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  }
  img{
    height:180px;
    width:180px;
    position:absolute;
    margin-top:-200px;
    margin-left:22px;
    cursor:pointer;
  }
  .formulario{
    background: linear-gradient(to bottom right, #D767E7, #eb28a8);
    background: linear-gradient(to top left, #eb28a8, #00A5FD);
    display:flex;
    height:450px;
    align-items:center;
    justify-content: center;
    border-radius: 10px;
  }
  form{
    display:flex;
    flex-direction:column;
    font-size:20px;
    margin-top:160px;
  }
  input{
    border-radius:14px;
    width:210px;
    height:30px;
    border:none;
    padding-left: 10px;
  }
  button{
    height: 30px;
    width:110px;
    border-radius:14px;
    color:white;
    background-color: #464aDF;
    cursor:pointer;
    border:none;
    align-self: center;
  }
  input:focus{
    outline: none;
  }
  
  
  .botao:hover{
    background-color: #25497a;
  }
